.ll-thumbnail {
  height: 100%;
}

.ll-container {
  height: 64px;
  width: 64px;
  overflow: hidden;
  border-radius: 3px;
}

.album-cover {
  height: 64px;
  width: 64px;
}

iframe {
  width: 100%;
  max-width: 500px;
}
