.ll-thumbnail {
  height: 100%;
}

.ll-container {
  height: 64px;
  width: 64px;
  overflow: hidden;
  border-radius: 3px;
}

.album-cover {
  height: 64px;
  width: 64px;
}

#input {
  width: 200px;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
